# Database
DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DBNAME?sslmode=verify-full
DIRECT_URL=postgres://USER:PASSWORD@HOST:PORT/DBNAME?sslmode=verify-full

# Auth.js
AUTH_SECRET=
AUTH_URL=http://localhost:3000

# App
NODE_ENV=development
